.login-wrapper {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #151a21;
  width: 40rem;
  height: 33rem;
  padding: 2rem;
  border-radius: 0.7rem;
  border-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__heading {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    & > button {
      background-color: #323d4d;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      padding: 1.5rem 4rem;
      margin: 1rem;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      &:hover {
        background-color: #3f4d61;
        transition: all 0.2s;
      }
      & > strong {
        margin-left: 1.2rem;
      }
    }
  }
}
